    <p><%= @friend.fullname %>,</p>

    <p>I had previously listed you as a friend; however, I am sorry to inform you that I regret that decision<br />

    <p>Clearly it was a mistake to make you a friend.  I admit this error in judgment and hereby remove you from my friend list.</p>

    <p>Goodbye Forever</p>

    <p>Harris Hartung</p>